      <div class="navbar side_nav side_fixed_left" ng-controller="NavigationCtrl">
          <div class="navbar-header" id="brand_name">
            <a href="/" class="navbar-brand" ng-class="{ active: isCurrentPath('/') }">Skillsmatrix</a>
          </div>
          <% if (session.authenticated) { %>
            <div class="profile_wrapper">
              <div class="profile_pic">
                <img src="<%= session.User.profileUrl %>" alt="Profile pic of <%= session.User.name %>" />
              </div>
            </div>
            <div class="profile_name">
              <h2><%= session.User.name %></h2>
            </div>
          <% } %>
          <ul class="nav navbar-nav">
            <% if (session.authenticated) { %>
              <li class="user_show_page"><a href="/user/show/<%= session.User.id %>">Profile</a> </li>
            <% } %>
            <% if (session.authenticated && session.User.admin) { %>
              <li class="user_index_page"><a href="/user" >User Administration</a></li>
              <li class="cat_index_page"><a href="/category">Category overview</a></li>
            <% } %>
          </ul>
          <div class="navbar-form">
            <% if (session.authenticated) { %>
              <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">sign-out</a>
            <% } %>
          </div>
          <% if (!session.authenticated) { %>
            <form class="navbar-form" action="/session/create">
            <div class="form-group">
              <input type="text" placeholder="Email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
          <% } %>
      </div>
